<!-- Vars: messages: Array of Objects -->

<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
        <%- include("indexMessage", {message: {...messages[i], index: i}}) %>
      <% } %>
    </ul>
    <form action="/messages" method="post">
      <button name="goToNew" value="1">Create New Message</button>
    </form>
  </body>
</html>
